@import "_colors";
@import "_global";
@import "_maxins";
@import "variables";

nav {
  width: 100%;
  //   background-color: $green;
  .nav-class {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-links {
      margin: 0 0 0 auto;
      a {
        margin: 0rem 1rem;
        color: $gray;
      }
      .active {
        color: $font_color;
        border-bottom: 3px solid $orange;
        border-radius: 3px;
        padding-bottom: 0.3rem;
      }
    }
    h3 {
      color: $font_color;
    }
    button {
      margin: 0 0 0 5rem;
    }
  }
}

.header {
  .container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-title {
      width: 35%;
      * {
        margin: 0 0 2rem 0;
      }
      h1 {
        text-transform: capitalize;
        color: $font_color;
        font-weight: 700;
      }
      p {
        color: $gray;
        line-height: 1.4rem;
        font-size: 1.1rem;
      }
    }
    img {
      width: 50%;
    }
  }
}
.ads {
  background-color: rgb(240, 240, 240);
  .container {
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 0rem;
    img {
      width: 10rem;
      margin: 0 2rem;
    }
  }
}
.about-us {
  background-image: url("../img/bg.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  .container {
    .cards {
      display: flex;
      flex-direction: row-reverse;
      .row {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        .card {
          background-color: #fff;
          max-width: 20rem;
          min-height: 15rem;
          border-radius: 1rem;
          padding: 2rem;
          margin-bottom: 3rem;
          display: flex;
          flex-direction: column;
          box-shadow: 0px 0px 10px 2px $box_shadow;
          a {
            .next-button {
              margin-top: auto;
              width: 2rem;
            }
          }
          .logo {
            width: 4rem;
          }
          .card-title {
            color: $font_color;
          }
          .card-body {
            color: $gray;
          }
        }
        .card:hover {
          cursor: pointer;
          box-shadow: 0px 0px 25px 5px $box_shadow;
        }
      }
      .row2 {
        justify-content: center;
      }
      .row3 {
        justify-content: flex-end;
        margin-bottom: 12rem;
      }
    }
  }
}
.industries {
  .container {
    .cards {
      display: flex;
      justify-content: space-around;
      .card {
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        width: max-content;
        height: max-content;
        box-shadow: 0px 0px 25px 5px $box_shadow;
        i {
          color: $font_color;
          font-size: 2rem;
        }
        h3 {
          font-size: 1.3rem;
          color: $font_color;
        }
      }
    }
  }
}
.our-team {
  background-image: url("../img/bg.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  .container {
    .cards {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      .row {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        .card {
          //   background-color: $green;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          min-width: 17rem;
          margin-bottom: 3rem;
          h4 {
            font-size: 1.1rem;
            font-weight: 700;
            color: $font_color;
            margin-top: 1rem;
          }
          p {
            color: $gray;
            text-transform: capitalize;
            font-weight: 600;
          }
          img {
            width: 10rem;
          }
        }
      }
      .row2 {
        justify-content: center;
      }
      .row3 {
        justify-content: flex-end;
        margin-bottom: 3rem;
      }
      .row4 {
        justify-content: flex-start;
        margin-top: 3rem;
      }
    }
  }
}
.blog {
  .container {
    .cards {
      display: flex;
      justify-content: space-between;
      .card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 25rem;
        border-radius: 1rem;
        height: 30rem;
        padding: 2rem 3rem;
        box-shadow: 0px 0px 10px 2px $box_shadow;
        img {
          width: 90%;
          border-radius: 1rem;
        }
        h4 {
          color: $font_color;
        }
        p {
          color: $gray;
        }
        a {
          margin-right: auto;
        }
      }
    }
  }
}
.subscribe {
  .container {
    background-image: url("../img/bg2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    .text {
      display: flex;
      align-items: center;
      flex-direction: column;

      p {
        color: $font_color;
        line-height: 1.4rem;
        font-size: 1.1rem;
        opacity: 0.8;
        font-weight: 600;
      }
    }
    .submit {
      display: flex;
      justify-content: center;
      input {
        border: none;
        outline: none;
        color: $gray;
        line-height: 1.4rem;
        font-size: 1.1rem;
        opacity: 0.8;
        font-weight: 600;
      }
    }
  }
}
footer {
  background-color: $light_orange;
  .container {
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    .content {
      width: 30%;
      .logo {
        color: $font_color;
      }
      p {
        color: $gray;
        font-weight: 600;
        font-size: 1.1rem;
      }
      i {
        font-size: 1.5rem;
        padding: 1rem;
        border-radius: 5rem;
        border: 2px solid $orange;
        color: $font_color;
      }
      #fb {
        padding: 1rem 1.3rem;
      }
    }
    h4 {
      color: $font_color;
    }
    .external-links {
      display: flex;
      justify-content: space-around;
      width: 50%;
      margin-top: auto;
      .about {
        display: flex;
        flex-direction: column;
        a {
          color: $gray;
          font-weight: 600;
        }
      }
      .contact {
        display: flex;
        flex-direction: column;
        width: 30%;
        .address,
        .email,
        .phone {
          display: flex;
          color: $font_color;
        }
        p {
          color: $gray;
          font-weight: 600;
        }
      }
    }
  }
}
